BasedOnStyle: WebKit
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: DontAlign
AlignOperands: Align
AllowShortEnumsOnASingleLine: false
AlwaysBreakAfterReturnType: All
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
ColumnLimit: 140
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DeriveLineEnding: false
DerivePointerAlignment: false
PointerAlignment: Right
ExperimentalAutoDetectBinPacking: true
IncludeBlocks: Merge
IndentCaseLabels: true
IndentWidth: 4
LineEnding: LF
MaxEmptyLinesToKeep: 2
ReflowComments: false
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: true
SpacesBeforeTrailingComments: 3
UseCRLF: false
